Source: steam-devices-nitrux
Section: misc
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://gitlab.com/fabiscafe/game-devices-udev


Package: steam-devices-nitrux
Architecture: amd64
Depends: udev
Conflicts: steam-devices
Description: udev rules for Steam-related hardware.
 Package to add udev rules for Steam-related hardware to the distribution.
